<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
     Table of Contents
    
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>


  <header class="site-header" role="banner">
    <div class="wrapper">
      <a class="site-title" href="/">Пroject λamp</a>

    <!-- <nav class="site-nav"> -->
    <!--   <div class="trigger"> -->
    <!-- 	<\!-- <a class="page-link" href="/table-of-contents/">Contents</a> -\-> -->
    <!--     <a class="page-link" href="/about/">About</a> -->
    <!-- 	<a class="page-link" href="/contribute/">Contribute</a> -->
    <!--   </div> -->
    <!-- </nav> -->
    <nav class="site-nav">
      <span class="menu-icon">
        <svg viewBox="0 0 18 15" width="18px" height="15px">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </span>

      <div class="trigger">
        <a class="page-link" href="/about/">About</a>
        <a class="page-link" href="/contribute/">Contribute</a>
      </div>
    </nav>

  </div>

</header>

<main class="page-content" aria-label="Content">
  <div class="wrapper">

  <article class="post">

  <header class="post-header">
    <h1 class="post-title">Table of Contents</h1>
  </header>

  <div class="post-content">
    <ul>
  <li><a href="/introduction">Introduction</a></li>
  <li><a href="/chapter1">1. First Steps: The Basics</a></li>
  <!-- <li><a href="/chapter2">2. Little Languages: Writing Interpreters</a></li> -->
  <li>2. Little Languages: Writing Interpreters</li>
  <li>3. Continuing with Style: Continuations</li>
  <li>4. Monoids in the Category of Endofunctors: Monads and Type Classes</li>
  <li>5. Tests are Fun: Generative Testing</li>
  <li>More <em>fun</em> ideas to come…</li>
</ul>


  </div>

</article>


  </div>

</main>

  

</html>
