<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
     Table of Contents
    
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>


  <header class="site-header" role="banner">
    <div class="wrapper">
      <a class="site-title" href="/">Пroject λamp</a>

    <nav class="site-nav">
      <div class="trigger">
	<!-- <a class="page-link" href="/table-of-contents/">Contents</a> -->
        <a class="page-link" href="/about/">About</a>
      </div>
    </nav>

  </div>

</header>

<main class="page-content" aria-label="Content">
  <div class="wrapper">

  <article class="post">

  <header class="post-header">
    <h1 class="post-title">Table of Contents</h1>
  </header>

  <div class="post-content">
    <ul>
  <li><a href="/introduction">Introduction</a></li>
  <li><a href="/chapter1">1. First Steps</a></li>
  <li><a href="/chapter2">2. Little Languages w/ Style</a></li>
  <li><a href="">3. From Continuations to Monads</a></li>
  <li><a href="">4. Tests are Fun</a></li>
  <li>More <em>fun</em> ideas to come…</li>
</ul>


  </div>

</article>


  </div>

</main>

  

</html>
